/******** TAILWIND DIRECTIVES ********/
@tailwind base;
@tailwind components;
@tailwind utilities;

/******** GENERAL VARIABLES ********/
$primary-blu: #0182F9;
$secondary-black: #1C1C1C;
$tertiary-grey: #303030;